<div class="mainBox">
	<h6>Organisational Unit Hierarchy</h6>
	<div class="container">
		<div class="row">

			<div class="tree">
				<ul>
					<li>
						<button class="level1">Unit 1</button>
						<ul>
							<li>
								<button class="level2">Unit 2</button>
								<ul>
									<li>
										<button class="level3">Unit 4</button>
									</li>
								</ul>
							</li>
							<li>
								<button class="level2">Unit 3</button>
								<ul>
									<li><button class="level3">Unit 5</button></li>
									<li>
										<button class="level3">Unit 6</button>
										<ul>
											<li>
												<button class="level4">Unit 8</button>
											</li>
											<li>
												<button class="level4">Unit 9</button>
											</li>
											<li>
												<button class="level4">Unit 10</button>
											</li>
										</ul>
									</li>
									<li><button class="level3">Unit 7</button></li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>